body {
    background: linear-gradient(
        rgb(240, 240, 255),
        rgb(180, 180, 255),
        rgb(120, 120, 170),
        rgb(60, 30, 85)
    );
    background-attachment: fixed;
}

h1 {
    background: linear-gradient(
        rgb(180, 180, 255),
        rgb(120, 120, 170)
    );
    text-align: center;
    text-wrap: wrap;
    color: white;
    text-shadow: 2px 2px 5px black;
    border-radius: 15px;
    max-width: 600px;
    min-width: 230px;
    margin: 0 auto;
    padding: 10px;
}

h2 {
    text-shadow: 2px 2px 5px rgb(240, 240, 255);
    color: rgb(60, 30, 85);
}

p {
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 5px black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 10px;
    gap: 20px;
}

.day-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.day-header {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    color: #333;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.card h3 {
    font-size: 1em;
    margin-bottom: 5px;
    color: #333;
}

.card p {
    font-size: 0.9em;
    text-align: center;
    color: #555;
}

.card img {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}


// Roboto font identifier.
.roboto-font-user {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
