/* Set up the map container size */
@media (max-width: 768px) {
	#map {
		height: 30rem !important;
		width: 90% !important;
		margin-bottom: 1rem;
	}
	
	h4 {
		font-size: 3vw !important;
	}
}

#map {
	height: 40rem;
	width: 60%;
	margin-bottom: 1rem;
}
